@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
.main {
  height: 50vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.logo {
  width: 200px;
  height: 200px;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  align-items: center;
  width: 300px;
  height: 100px;
  animation: float 5s ease-in-out infinite;
}
.form-search {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202329;
  border-radius: 30px;
  padding: 10px;
  gap: 5px;
}
.search-txt {
  width: 300px;
  border: none;
  background: none;
  outline: none;
  transition: 0.7s;
  color: #ccc;
}
.search-btn {
  border: none;
  background: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #202329;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lupa {
  height: 20px;
  width: 20px;
}

.form-search button {
  padding: 5px;
  background: #64bc46;
  color: #ffff;
  border: none;
  border-radius: 50%;
}

.lista {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 100px;
  background: #202329;
  justify-content: center;
  padding: 100px;
}
@media (max-width: 1120px) {
  .search-txt {
    width: 150px;
  }
  .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .item {
    width: 100vw;
    gap: 0;
    height: 150px;
  }
  .item img {
    width: 150px;
    height: 150px;
  }
  .content-text {
    gap: 0;
  }
  .content-text .nome {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .item {
    width: 100vw;
    gap: 0;
  }
  .item img {
    height: 100px;
  }
  .content-text {
    gap: 0;
    font-size: 0.8rem;
  }
  .content-text .nome {
    font-size: 0.7rem;
    color: #64bc46;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background: rgb(60, 62, 68);
  height: 300px;
}
.item img {
  height: 100%;
  border-radius: 5px;
}
.content-text {
  display: flex;
  flex-direction: column;
  color: #ffff;
  gap: 60px;
}
.content-text .nome {
  font-size: 1.5rem;
}
.text:hover {
  color: #64bc46;
}
.content-text .double-text {
  display: flex;
  flex-direction: column;
}
.fixed {
  color: #ccc;
}
